<div class="row"  style="float: right;">
    <a routerLink="">DAWG FORM</a>
  </div>
<!-- {{getData | json}} -->
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Request Title</th>
      <th scope="col">PPM project Id</th>
      <th scope="col">Purpose</th>
      <th scope="col">Business Contact</th>
      <th scope="col">Technical Contact</th>
    </tr>
  </thead>
  <tbody *ngIf="getData.length == 0" style="text-align: center;">
    <tr class="mat-row" >
      <td class="mat-cell" colspan="9999">
        No Records Found
      </td>
    </tr>
  </tbody>
  <tbody>
    <tr *ngFor="let dawg of getData; let i = index;">
      <th scope="row">{{i+ 1}}</th>
      <td>{{dawg.title}}</td>
      <td>{{dawg.ppmProjectId}}</td>
      <td>{{dawg.purpose}}</td>
      <td>{{dawg.business_contact}}</td>
      <td>{{dawg.technical_contact}}</td>
    </tr>
   
  </tbody>
</table>